---
import type { GetStaticPaths } from "astro";
import { LIFETIME_ARCHITECTS } from "@data/lifetime-architects";
import { nameToPath } from "@utils/nameToPath";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import H2 from "@components/H2.astro";
import Paragraph from "@components/Paragraph.astro";
import { Image } from "astro:assets";
export const getStaticPaths = (() => {
  return LIFETIME_ARCHITECTS.map((architect) => {
    return {
      params: { vitalicias: nameToPath({ name: architect.short_name }) },
      props: architect,
    };
  });
}) satisfies GetStaticPaths;

const {
  id,
  name,
  short_name,
  birth_date,
  birth_place,
  death_date,
  university,
  description,
  image,
  footnotes,
} = Astro.props;
---

<Layout title={name}>
  <Header />
  <main
    class="flex flex-col items-start h-full w-full gap-10 mb-10 px-6 md:px-12 xl:mt-10"
  >
    <div class="font-source-code mt-2">
      <p class="text-light-grey">arquitecta vitalicia</p>
      <h1
        class="text-[3.5rem] max-w-xl leading-none font-black text-dark-grey"
        transition:name=`name-${id}`
      >
        {short_name}
      </h1>
    </div>
    <div
      class="h-full flex flex-col xl:flex-row gap-10 xl:gap-32 text-dark-grey"
    >
      {
        image && (
          <aside>
            <Image
              src={image}
              alt={`Imágen de la arquitecta ${name}`}
              class="rounded-xl"
              width={1080}
            />
          </aside>
        )
      }
      <article class="max-w-xl flex flex-col gap-10 xl:order-first">
        <section class="">
          <ul>
            <li>
              <h3><strong class="font-medium">Nombre:</strong> {" "}{name}</h3>
            </li>
            <li>
              <h3>
                <strong class="font-medium">Fecha de nacimiento:</strong>
                {" "}{birth_date}
              </h3>
            </li>
            <li>
              <h3>
                <strong class="font-medium">Lugar de nacimiento:</strong>
                {" "}{birth_place}
              </h3>
            </li>
            {
              death_date && (
                <li>
                  <h3>
                    <strong class="font-medium">Fecha de defunción:</strong>{" "}
                    {death_date}
                  </h3>
                </li>
              )
            }
            <li>
              <h3>
                <strong class="font-medium">Estudios de Arquitectura:</strong>
                {" "}{university}
              </h3>
            </li>
          </ul>
        </section>
        <section>
          <H2>Trayectoria</H2>
          <Paragraph description={description} />
        </section>
        {
          footnotes && (
            <footer>
              <h2 id="notes_heading" class="sr-only">
                Pie de página
              </h2>
              <div class="w-full h-px bg-light-grey mb-2" />
              <ol>
                {footnotes.map(({ id, title, text }) => (
                  <li id={id} class="grid grid-flow-col gap-2 text-sm mb-2">
                    <a
                      href={`#${id}_ref`}
                      aria-label="Volver al conteindo"
                      class="text-pink font-bold"
                    >
                      {id}
                    </a>
                    <p>
                      {title && <b>{title}</b>}
                      {text.split("\f").map((textOrLink, index) => {
                        if (index % 2 === 0) {
                          return textOrLink;
                        }

                        return (
                          <a
                            href={textOrLink}
                            target="_blank"
                            class="text-sky-700 break-all w-fit hover:underline"
                          >
                            {textOrLink}
                          </a>
                        );
                      })}
                    </p>
                  </li>
                ))}
              </ol>
            </footer>
          )
        }
      </article>
    </div>
  </main>
  <Footer />
</Layout>
