---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import { COLLABORATES, TEAM } from "@data/team";
import H2 from "@components/H2.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="El Equipo">
  <Header />
  <main class="px-6 md:px-12 grid gap-4 mb-20 xl:mt-14">
    <h1
      class="text-[3.5rem] leading-none font-source-code font-black text-dark-grey md:-ml-1 xl:text-center"
    >
      El Equipo
    </h1>
    <article
      class="sm:columns-2 lg:columns-3 [column-fill:_balance] space-y-4 mx-auto"
    >
      {
        TEAM.map((p) => (
          <section class=" text-dark-grey max-w-xs min-h-fit break-inside-avoid bg-rose-50 bg-opacity-40 rounded-xl p-4">
            <figure class="overflow-hidden rounded-lg max-h-80 mb-4">
              <Image
                src={p.image}
                alt="imagen de olivia"
                class="-mt-10"
                width={400}
              />
            </figure>
            <H2>{p.name}</H2>
            <p class="font-light -mt-4">{p.role}</p>
            <p class="py-2 text-sm">{p.description}</p>
          </section>
        ))
      }
    </article>
    <section class="text-dark-grey mx-auto mt-10">
      <div class="w-full h-px bg-light-grey mb-2"></div>
      <H2>Colaboradores</H2>
      <ul class="space-y-2">
        {
          COLLABORATES.map((col) => (
            <li class="flex gap-2">
              <span class="text-pink">•</span>
              <p class="font-bold font-source-code">
                {col.name}
                <span class="font-light font-helvetica text-sm block sm:inline ml-6 -mt-1 sm:ml-0 sm:-mt-0">
                  / {col.role}
                </span>
              </p>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
