---
import { nameToPath } from "@utils/nameToPath.ts";
import { Image } from "astro:assets";

interface Props {
  img: ImageMetadata;
  name: string;
  id: string;
  color: string;
}

const { img, name, id, color } = Astro.props;
const href = "/arquitectas-referentes/" + nameToPath({ name });
---

<li
  id={id}
  class="architect_items relative w-full max-w-[7rem] sm:max-w-[8rem] shrink-0 h-full rounded-xl overflow-hidden shadow-sm group-hover:grayscale hover:!grayscale-0 transition-[filter] duration-150 after:content-[''] after:h-1/2 after:absolute after:bg-gradient-to-b from-transparent to-primary after:bottom-0 after:w-full"
  style=`background-color: ${color};`
>
  <a href={href} class="h-full w-full">
    <h2
      class="absolute bottom-1 left-3 right-2 text-base sm:text-lg text-white font-black z-10 font-source-code grid"
      transition:name=`name-${id}`
    >
      {name.split(" ").map((n) => <span class="-mt-2">{n}</span>)}
    </h2>
    <Image
      src={img}
      class="h-full w-full object-cover aspect-[128/199]"
      alt={`${name}`}
      height={200}
      loading="eager"
    />
  </a>
</li>
