---
import { nameToPath } from "@utils/nameToPath.ts";
import { Image } from "astro:assets";

interface Props {
  img: ImageMetadata;
  name: string;
  color: string;
  id: string;
}

const { img, name, color, id } = Astro.props;
const href = "/arquitectas-referentes/" + nameToPath({ name });
---

<li
  id={"card-" + color}
  class="architect_items relative w-full max-w-[7rem] sm:max-w-[8rem] shrink-0 h-full rounded-xl overflow-hidden shadow-md group-hover:grayscale hover:!grayscale-0 transition-all duration-150"
>
  <a href={href} class="h-full w-full">
    <h2
      class="absolute bottom-2 left-2 right-2 text-lg sm:text-xl leading-none text-white font-black z-10 font-source-code"
      transition:name=`name-${id}`
    >
      {name}
    </h2>
    <Image
      src={img}
      class="h-full w-full object-cover aspect-[9/14]"
      alt=`Imágen de la Arquitecta ${name}`
      width={500}
    />
  </a>
</li>
